*{
    margin: 0;
    padding: 0;
}

body{
    background-image : 
    url("images/coverrr.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 0%;
    
}

.box{
    width: 800px;
    height: 160px;
    margin: 15px auto;
    color:white;
  /*  border-radius: 20px; */ /*corner lai round banauchha*/
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-style: solid;
    border-width: 10px;
    border-color:white;
    padding: 40px;
    background-color: rgba(0,0,0,0.5);
    background-origin: border-box;
    background-clip: border-box;
    
    /*background-image:linear-gradient(to right,rgba(191, 98, 48,0.5),rgba(232, 209, 58,0.5));*/
   /* background-image: radial-gradient(ellipse at top right , #f25d00 , transparent);*/
}

.box h1{
    margin:10px 20px 20px 20px;
}

.message{
width: auto;
height:50px;
margin: 100px auto 10px auto;
color:white;
border-style:solid;
border-color: white;
background-color: rgba(0,0,0,0.5);
}


/*background-position: 25% 75% means the spot on the image that is 25% 
from the left and 75% from the top will be placed at the spot of the 
container that is 25% from the container's left and 75% from the container's top.*/
.message h1{
    font-color
}
